<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="__HJS__/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1">


    <link href="__HCSS__/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="__HCSS__/catecss.css" type="text/css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="__HCSS__/ie/html5shiv.js"></script>
    <script src="__HCSS__/ie/respond.min.js"></script>
    <![endif]-->
</head>
<body  style="">
<div class="container-fluid">
<table class="table table-bordered">
    <caption><h4>你可以管理你的商品品牌，也可以添加一个 <span><a style="float: 18px" href="__URL__/add">新品牌</a></span></h4></caption>
    <thead>
    <tr>
        <th class="bg_tr" align="left" height="25">序号</th>
        <th class="bg_tr" align="left" height="25">商品名</th>
        <th class="bg_tr" align="left" height="25">商品描述</th>
        <th class="bg_tr" align="left" height="25">商品链接</th>
        <th class="bg_tr" align="left" height="25">logo</th>
        <th class="bg_tr" align="left" height="25">是否显示（否代表已下架）</th>
        <th class="bg_tr" align="left" height="25">修改</th>
        <th class="bg_tr" align="left" height="25">
            <input type='submit' name='deleteSubmit' value='下架' />
        </th>
    </tr>
    </thead>
    <tbody>
    <volist name='data' id='vo'>
        <tr>
            <td class="td_bg" width="5%" height="23" align="center">{$i}</td>
            <td class="td_bg"  style='text-align:left;padding-left:10px;'>
                <strong>{$vo.brand_name}</strong>
            </td>
            <td class="td_bg">{$vo.brand_desc}</td>
            <td class="td_bg">{$vo.site_url}</td>
            <td class="td_bg"><img src="{$vo.brand_logo}" style="width: 80px"></td>
            <td class="td_bg">
                <if condition="$vo['is_show'] eq 0">否
                    <else />是
                </if>
            </td>
            <td class="td_bg">
                <a href="__URL__/edit/id/{$vo.brand_id}">修改</a>
            </td>
            <td class="td_bg">
                <input type='checkbox' value="{$vo.brand_id}" name='id[]' />
            </td>
        </tr>
    </volist>
    <tr>
        <td colspan="8">{$show}</td>
    </tr>
    </tbody>
</table>
</div>
</body>
<script>
    //默认状态是禁用状态
    $("textarea[name=attr_value]").attr("disabled",'disabled');
    $("#listsel").click(function(){
        $("textarea[name=attr_value]").attr("disabled",'');//当选择列表时是开启状态。
    });
    $("#inputsel").click(function(){
        $("textarea[name=attr_value]").val('');
        $("textarea[name=attr_value]").attr("disabled",'disabled');//当选择手工输入时是禁用状态。
    });
</script>
</html>