<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<import type='css' file='Admin.Images.css1.css' />
</head>
<SCRIPT language=javascript>
<!--
	var displayBar = true;
	function switchBar(obj) {
		if (displayBar) {
			parent.frame.cols = "0,*";
			displayBar = false;
			obj.value = "打开左边管理菜单";
		} else {
			parent.frame.cols = "195,*";
			displayBar = true;
			obj.value = "关闭左边管理菜单";
		}
	}

	function fullmenu(url) {
		if (url == null) {
			url = "admin_left.asp";
		}
		parent.leftFrame.location = url;
	}
//-->
</SCRIPT>



<body>
	<form method="POST" action="__URL__/editOk">
		<table class="table" cellspacing="1" cellpadding="2" width="99%"
			align="center" border="0">
			<tbody>
				<tr>
					<th class="bg_tr" align="left" colspan="2" height="25">修改品牌信息</th>
				</tr>
						<input type='hidden' name='brand_id' value='{$row.brand_id}' />

					<td class="td_bg" width="17%" height="23" align="right">分类名</td>
					<td width="83%" class="td_bg">
						<input type="text" name="brand_name" value="{$row.brand_name}">
					</td>
				</tr>
				<tr>
					<td class="td_bg" width="17%" height="23" align="right">分类描述</td>
					<td width="83%" class="td_bg">
						<textarea name='brand_desc' rows='4' cols='80'>{$row.brand_desc}
      	                </textarea>
					</td>
				</tr>
                <tr>
                    <td class="td_bg" width="17%" height="23" align="right">链接</td>
                    <td width="83%" class="td_bg">
                        <input type="text" name="site_url" value="{$row.site_url}">
                    </td>
                </tr>
                <tr>
                    <td class="td_bg" width="17%" height="23" align="right">是否显示（否代表下架）</td>
                    <td width="83%" class="td_bg">
                        <input type="radio" name="is_show" value=1
                        <if condition="$row.is_show eq 1">checked</if>
                            >是
                        <input type="radio" name="is_show" value=0
                        <if condition="$row.is_show eq 0">checked</if>
                        >否
                    </td>
                </tr>
				<tr>
					<td class="td_bg" width="17%" height="23"></td>
					<td class="td_bg" width="83%">
						<input type="submit" name="submit" value="修改" />
					</td>
				</tr>
			</tbody>
		</table>
	</form>
</body>
</html>
