<table cellpadding="3" cellspacing="1">
  <tr>
    <th>
     <input onclick='listTable.selectAll(this, "checkboxes")' type="checkbox" />
      <a href="#">编号</a><img src="__AIMG__/sort_desc.gif"/>    </th>
    <th><a href="#">属性名称</a></th>
    <th><a href="#">商品类型</a></th>
    <th><a href="#">属性值的录入方式</a></th>
    <th><a href="#">可选值列表</a></th> 
    <th>操作</th>
  <tr>
  <?php foreach($attrdata as $v){?>
      <tr>
    <td><input type="checkbox" name="checkboxes[]" value="32" /><?php echo $v['id']?></td>
    <td class="first-cell" style=""><span ><?php echo $v['attr_name']?></span></td>
    <td><span ><?php echo $v['type_name']?></span></td>
    <td align="right"><?php echo $v['attr_input_type']?></td>  
    <td align="center"><span ><?php echo $v['attr_value']?></span></td>     
    <td align="center">
    <a href="#" target="_blank" title="查看"><img src="__AIMG__/icon_view.gif" width="16" height="16" border="0" /></a>
    <a href="#" title="编辑"><img src="__AIMG__/icon_edit.gif" width="16" height="16" border="0" /></a>
    <a href="#" title="复制"><img src="__AIMG__/icon_copy.gif" width="16" height="16" border="0" /></a>
    <a href="#"  title="回收站"><img src="__AIMG__/icon_trash.gif" width="16" height="16" border="0" /></a>
   </td>
  </tr>
       <?php }?>
</table>