<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="__HJS__/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link href="__HCSS__/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="__HCSS__/catecss.css" type="text/css" rel="stylesheet">



    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <!--[if lt IE 9]>
    <script src="__HCSS__/ie/html5shiv.js"></script>
    <script src="__HCSS__/ie/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div>
<table class="table table-hover">
    <thead>
    <tr>
        <th>#</th>
        <th width="120px">Goods Name</th>
        <th>Attribute</th>
        <th>Price</th>
        <th>Number</th>
        <th>Sum</th>
        <th>operation</th>
    </tr>
    </thead>
    <tbody>
    <?php $ii=1;$sumMoney=0 ?>

    <foreach name="carts" item="cart">
        <tr>
            <th scope="row"><?php echo $ii++ ?></th>
            <input type="hidden" class="hiddenid" name="id" value="{$cart.id}">
            <td><img width="100%" src="{$cart.goods_thumb}" style="max-height: 140px">{$cart.goods_name}</td>
            <td>{$cart.goods_attr}</td>
            <td>$<span class="goods_num"><?php echo $cart['shop_price']+$cart['goods_attr_price']; ?></span></td>
            <td>
                <input class="drop" onclick="dropq(this);" type="button" value="-" />
                <input class="text_box" onblur="calSum(this,this.value)" onkeydown="onlyNum();" type="text" value="{$cart.goods_number}" style="ime-mode:Disabled;width:40px;" name="goos_number" />
                <input class="add" onclick="addq(this);" type="button" value="+" /></td>
            <td>$<span class="sumq">
                <?php echo $cart['goods_number']*($cart['shop_price']+$cart['goods_attr_price']);
                $sumMoney+= $cart['goods_number']*($cart['shop_price']+$cart['goods_attr_price']);?>
            </span></td>
            <td><a href="javascript:void(0);"onclick="deletetr(this)">delete</a></td>
        </tr>
    </foreach>
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th id="sumMoney">$<?php echo $sumMoney ?></th>
        <th><button onclick="payforit()">pay for it</button></th>
    </tr>

    </tbody>
</table>
</div>
</body>
<script>
    function payforit(){
        var url = "http://"+window.location.host+"/index.php/Home/Order/checkout";
        window.open(url);
//        window.parent.location.href=url;
    }

    function onlyNum() {
        if(!(event.keyCode==46)&&!(event.keyCode==8)&&!(event.keyCode==37)&&!(event.keyCode==39))
            if(!((event.keyCode>=48&&event.keyCode<=57)||(event.keyCode>=96&&event.keyCode<=105)))
                event.returnValue=false;
    }

    function addq(tag){
        var  url = "http://"+window.location.host+"/index.php/Home/Cart/changeNum";
        var td=$(tag).parent()
        var  tdd=$(tag).parent().parent().children(".hiddenid");
        var  tm=td.children("input:eq(1)")
        var num= Number(tm.val())+1;
        var dataid=tdd.val();
        $.post(url,{'id':dataid,'num':num}, function(data) {
            // your code
            if(data=="success") {

                tm.val(num);
                calSum(tag, num);
                calMoney();
            }
        })



    }
    function dropq(tag){
        var url = "http://"+window.location.host+"/index.php/Home/Cart/changeNum";
        var  td=$(tag).parent()
        var  tdd=$(tag).parent().parent().children(".hiddenid");
        var  tm=td.children("input:eq(1)")
        var num= Number(tm.val())-1;
        if(num<1)num=1;
        var  dataid=tdd.val();
        $.post(url,{'id':dataid,'num':num}, function(data) {
            // your code
            if(data=="success") {
                tm.val(num);
                calSum(tag, num);
                calMoney();
            }
        })
    }
    function calSum(tag,num){
        var td=$(tag).parent()
        var  price= td.prev().children('span').html();
        td.next().children('span').html(num*price);
        calMoney();
    }
    function deletetr(tag){
        var url = "http://"+window.location.host+"/index.php/Home/Cart/delitem";
        var td=$(tag).parent().parent().children(".hiddenid");
        var dataid=td.val();
//        alert(dataid);
        $.post(url,{'id':dataid}, function(data) {
            // your code
            if(data=="success") {
                td = $(tag).parent().parent().remove();
                calMoney();
            }
        })
    }

    function calMoney(){
        var money=0;
        $(".sumq").each(function(index,data){
            money += Number($(data).text())
        })

        $('#sumMoney').html('$'+money);
    }

</script>
</html>