<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!--[if lt IE 9]>
    <script src="__HCSS__/ie/html5shiv.js"></script>
    <script src="__HCSS__/ie/respond.min.js"></script>
    <![endif]-->

    <link href="__HCSS__/bootstrap.min.css" type="text/css" rel="stylesheet">
    <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <title></title>
</head>
<style>
    .required{
        color: red;
        font-size: 20px;
    }
</style>
<body>
<div class="container-fluid">
    <br>
    <form class="form-horizontal" action="__MODULE__/Member/saveInfo" method="post" id="lmsubmit">
        <div class="form-group">
            <label for="user_id" class="col-xs-4 control-label">UserID<span class="required">*</span></label>
            <div class="col-xs-3">
               <h4 id="user_id">{$userData.user_name}</h4>
            </div>
        </div>

        <div class="form-group">
            <label for="email" class="col-sm-4 control-label">Email<span class="required">*</span></label>
            <div class="col-sm-4">
                <input type="email" class="form-control" id="email" placeholder="Email" name="email" value="{$userData.email}">
            </div>
        </div>
        <div class="form-group">
            <label for="mobile" class="col-sm-4 control-label">Mobile</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="mobile" placeholder="Mobile" name="phone" value="{$userData.phone}">
                <div class="tooltip-info" id="ltooltip3" prompt=""></div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">Sex</label>
            <div class="col-sm-4">
            <div class="radio">
                <label>
                    <input type="radio" name="sex" value="0" <?php if($userData['sex']==0) echo "checked"; ?>>
                    Keep as secret
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="sex" value="1" <?php if($userData['sex']==1) echo "checked"; ?>>
                    Men
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="sex"value="2" <?php if($userData['sex']==2) echo "checked"; ?>>
                    Women
                </label>
            </div>
                </div>
        </div>

        <div class="form-group">
            <label for="date" class="col-sm-4 control-label">Birthday</label>
            <div class="col-sm-2">
                <input type="date" class="form-control" id="date" name="birthday" value="{$userData.birthday}">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-4 col-xs-3 col-sm-1">
                <button type="submit" class="btn btn-default" id="lsubmit1">Save</button>
            </div>
            <div class="col-xs-7">
                <button type="reset" class="btn btn-default">Reset</button>
            </div>
        </div>

    </form></div>
</body>
</html>